<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" fixedInViewport=true autoFocus=false class="light-theme">
        <mat-nav-list>
            <mat-list-item (click)="openDialog()">
                <mat-icon mat-list-icon>login</mat-icon>
                <div mat-line>Login</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/" routerLinkActive="active">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>Home</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>person</mat-icon>
                <div mat-line>Bio</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>people</mat-icon>
                <div mat-line>Members Only (VR)</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>store</mat-icon>
                <div mat-line>Store</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>music_note</mat-icon>
                <div mat-line>Music</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>date_range</mat-icon>
                <div mat-line>Bookings</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>attach_money</mat-icon>
                <div mat-line>Donations</div>
            </mat-list-item>
            <mat-list-item routerLink="/a" routerLinkActive="active">
                <mat-icon mat-list-icon>image</mat-icon>
                <div mat-line>Gallery</div>
            </mat-list-item>
        </mat-nav-list>

        <div class="mt-auto">
            <mat-divider></mat-divider>
            <div class="d-flex py-2 px-3 justify-content-between">
                <button mat-icon-button>
                    <img src="../assets/icons/facebook.svg" alt="facebook" width="28">
                </button>
                <button mat-icon-button>
                    <img src="../assets/icons/instagram.svg" alt="instagram" width="28">
                </button>
                <button mat-icon-button>
                    <img src="../assets/icons/twitter.svg" alt="twitter" width="28">
                </button>
                <button mat-icon-button>
                    <img src="../assets/icons/youtube.svg" alt="youtube" width="28">
                </button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="header">
        <mat-toolbar class="bg-transparent">
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <div class="nav-mid mx-auto d-none d-lg-block">
                <button mat-button routerLink="/" routerLinkActive="active">HOME</button>
                <button mat-button routerLink="/a" routerLinkActive="active">BIO</button>
                <button mat-button routerLink="/a" routerLinkActive="active">MEMBERS ONLY (VR)</button>
                <button mat-button routerLink="/a" routerLinkActive="active">STORE</button>
                <button mat-button routerLink="/a" routerLinkActive="active">MUSIC</button>
                <button mat-button routerLink="/a" routerLinkActive="active">BOOKINGS</button>
                <button mat-button routerLink="/a" routerLinkActive="active">DONATIONS</button>
                <button mat-button routerLink="/a" routerLinkActive="active">GALLERY</button>
            </div>
            <button class="d-none d-lg-block" mat-button (click)="openDialog()">LOGIN</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>