mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.mat-list-base .mat-list-item {
  margin: 8px;
  font-size: 14px;
  width: 240px;
  height: 40px;
  border-radius: 4px;
}
.active {
  background: rgba(#fa3343, 0.1) !important;
  color: #fa3343 !important;
}
