@use "~@angular/material" as mat;
@include mat.core();

$dzm-primary: mat.define-palette(mat.$red-palette);
$dzm-accent: mat.define-palette(mat.$blue-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dzm-primary,
      accent: $dzm-accent,
    ),
  )
);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $dzm-primary,
      accent: $dzm-accent,
    ),
  )
);

@include mat.all-component-themes($dark-theme);
@include mat.dialog-color($light-theme);
@include mat.form-field-color($light-theme);
@include mat.sidenav-color($light-theme);
.light-theme {
  @include mat.list-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.divider-color($light-theme);
  @include mat.ripple-color($light-theme);
}

@import "~bootstrap";

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}
.mat-dialog-container {
  overflow: visible !important;
}
.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay,
.mat-icon-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0.1 !important;
}
